.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.second-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #f00;
}

.paragraph-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.iconZap{
    display: flex;
    justify-content: center;
    align-items: center;
}